<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capitalize</title>
</head>
<body>
<h2><u>Capitalize characters</u>: Capitalizes all the characters in the text</h2><button><a href="/visit">Back</a></button><br><br>
<p><b>Welcome to text analyzer. Enter your text.</b></p>
<form action="/charcapitalize" method="get">
    <textarea name="text3" style="width: 1293px; height: 90px;"></textarea><br>
    <input type="checkbox" name="capitalize">Capitalize<br><br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>