<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charactercount</title>
</head>
<body>
<h3><u>Character count</u>: Counts the number of characters in the text</h3><button><a href="/visit">Back</a></button>
<p><b>Welcome to Text analyzer. Enter your text.</b></p>
<form action="/countcharacter" method="get">
    <textarea name='text2' style="width: 1293px; height: 90px;"></textarea>
    <input type="checkbox" name="Count character">Count character<br><br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>