<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Had</title>
</head>
<body>
    Punctuation Removal <button><a href='/punctuation' >Click here</a></button><br><br>
    Space Removal <button><a href='/space' >Click here</a></button><br><br>
    Character Count <button><a href='/charactercount' >Click here</a></button><br><br>
    Capitalize Characters <button><a href='/capitalize' >Click here</a></button><br><br>
    Go back to main page <button><a href='/'>Back to main page</a></button>
</body>
</html>