<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
     <h1 ><u>Hello Nikhs</u></h1><h3>The videos you should watch:</h3><ul>
     <li><a href='https://www.youtube.com/watch?v=Ym9a6kuoLVc'target='_blank'>Get up</a></li>
     <li><a href='https://www.youtube.com/watch?v=rEBb0_E4C1Y'target='_blank'>Control Yourself</a></li>
     <li><a href='https://www.youtube.com/watch?v=cReNMdszDX0'target='_blank'>Kill procrastination</a></li>
     <li><a href='https://www.youtube.com/watch?v=WTBLQmhGjI4'target='_blank'>Believe you can do it</a></li>
     <li><a href='https://www.youtube.com/watch?v=pUpHsl634HU'target='_blank'>Never stop</a></li></ul>
     <h3>Websites in your list:</h3>
     <table border="4">
         <tr><td><a href='https://denigma.app/'target='_blank'>Denigma app </a></td><td>Gives explanation of the code line by line.</td></tr>
         <tr><td><a href='https://toolbox.googleapps.com/apps/encode_decode/'target='_blank'>Encode/Decode </a></td><td>Input a string of text and encode or decode it as you like.</td></tr>
         <tr><td><a href='https://beta.openai.com/playground' target='_blank'>Open AI</a></td><td>Gives one particular answer to anything you ask.</td></tr>
     </table><br>
     <p>To perform following operations:<ol><li>Punctuation Removal</li>
     <li>Space Removal</li><li>Character Count</li><li>Capitalize Characters</li></ol></p>
     <b>Visit this page:</b> <button><a href='/visit' target='_self'>Visit</a></button><br><br>
     <i>Visit here for website information: </i><button><a href="/fun">Click here</a></button>
     <pre>

















Wishing {{name}} from {{college}}, a best of luck!
         ~ Regards {{name1}}
     </pre>


</body>
</html>