<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newline</title>
</head>
<body>
<h3><u>Punctuation Removal</u>: Removes all punctuations in the text</h3><button><a href="/visit">Back</a></button>
<p><b>Welcome to text analyzer. Enter your text.</b></p>
<form action="/removepunc" method="get">
    <textarea name='text' style="width: 1293px; height: 90px;"></textarea><br><br>
    <input type="checkbox" name="removepunc">Remove punctuations<br><br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>