<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space</title>
</head>
<body>
<h3><u>Space Removal</u>: Removes spaces in the text</h3><button><a href="/visit">Back</a></button>
<p><b>Welcome to Text analyzer. Enter your text.</b></p>
<form action="/removespace" method="get">
    <textarea name='text1' style="width: 1293px; height: 90px;"></textarea>
    <input type="checkbox" name="space removal">Remove space<br><br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>